= content_for :header_title do
  %i.icon.icon-user
  = @user.full_name


.holder-devise-form
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, novalidate1: false }) do |f|
    %h2.text-center Edit your profile
    = f.error_notification

    = devise_error_messages!

    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :full_name, required: true
      = f.input :username
      .holder-avatar
        = image_tag @user.avatar.thumb if @user.avatar?
        = f.input :avatar
        = f.input :avatar_cache

      = f.input :website
      = f.input :facebook_url
      = f.input :twitter_url
      = f.input :instagram_url
      = f.input :youtube_url
      = f.input :soundcloud_url



      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
      = f.input :password_confirmation, required: false
      = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
    .form-actions
      = f.button :submit, "Update"

