= content_for :header_title do
  %i.icon.icon-user
  = "#{@user.full_name} uploads"

.row.user-details
  .col-xs-12.text-center
    .border
    .avatar
      = image_tag @user.avatar
    %h1= @user.full_name
    = link_to 'www.example.com', '#', class: :website
    .links
      = link_to '#' do
        %i.icon.icon-link-tiny
      = link_to '#' do
        %i.icon.icon-facebook-tiny
      = link_to '#' do
        %i.icon.icon-twitter-tiny
      = link_to '#' do
        %i.icon.icon-instagram-tiny
      = link_to '#' do
        %i.icon.icon-youtube-tiny
      = link_to '#' do
        %i.icon.icon-soundcloud-tiny

.infinite-songs
  .row.m-t-20
    .holder-songs
      - @songs.each do |song|
        = render partial: 'welcome/song_item', locals: {song: song}

  .row.m-t-20
    .pagination
      = link_to_next_page @songs, 'Next Page', remote: true
