= content_for :header_title do
  %i.icon.icon-user
  = "#{@user.full_name} uploads"

.row.user-details
  .col-xs-12.text-center
    .border
    .avatar
      = image_tag @user.avatar
    %h1
      = @user.full_name
      - if @user == current_user
        = link_to edit_user_registration_path, class: 'edit' do
          = surround '(', ')' do
            edit profile
    - if @user.website
      = link_to @user.website, url_with_protocol(@user.website), class: :website
    .links
      = link_to url_with_protocol(@user.website), target: :blank do
        %i.icon.icon-link-tiny
      = link_to url_with_protocol(@user.facebook_url), target: :blank do
        %i.icon.icon-facebook-tiny
      = link_to url_with_protocol(@user.twitter_url), target: :blank do
        %i.icon.icon-twitter-tiny
      = link_to url_with_protocol(@user.instagram_url), target: :blank do
        %i.icon.icon-instagram-tiny
      = link_to url_with_protocol(@user.youtube_url), target: :blank do
        %i.icon.icon-youtube-tiny
      = link_to url_with_protocol(@user.soundcloud_url), target: :blank do
        %i.icon.icon-soundcloud-tiny

.infinite-songs
  .row.m-t-20
    .holder-songs
      - @songs.each do |song|
        = render partial: 'welcome/song_item', locals: {song: song}

  .row.m-t-20
    .pagination
      = link_to_next_page @songs, 'Next Page', remote: true
