= content_for :header_title do
  = "#{@user.full_name} uploads"

.row.user-details
  .col-xs-12.text-center
    .border
    .avatar
      = image_tag @user.avatar
    %h1= @user.full_name

.infinite-songs
  .row.m-t-20
    .holder-songs
      - @songs.each do |song|
        = render partial: 'welcome/song_item', locals: {song: song}

  .row.m-t-20
    .pagination
      = link_to_next_page @songs, 'Next Page', remote: true
