.swiper-container
  / Additional required wrapper
  .swiper-wrapper
    / Slides
    .swiper-slide.uncover
      .holder-slide-content
        .holder-icon.text-center
          %i.icon.icon-play-big
        %h1.text-center Discover
        %h2.text-center
          %span
            The latest in
            %strong Caribbean Dance Music
            using our platform
        .holder-border.text-center
          .border
        .holder-facebook-connect.text-center
          = link_to 'Connect with Facebook', user_omniauth_authorize_path(:facebook), class: 'facebook-connect'
        .alt-hint.text-center
          Or
          = link_to "Sign up", new_user_registration_path, data: {target: "#modal-sign-up", toggle: :modal}, remote: true
          with your email address
    .swiper-slide.rate
      .holder-slide-content
        .holder-icon.text-center
          %i.icon.icon-star-big
        %h1.text-center Rate
        %h2.text-center
          %span
            %strong Vote by liking
            your favourite music and artists that are trending
        .holder-border.text-center
          .border
        .holder-facebook-connect.text-center
          = link_to 'Connect with Facebook', user_omniauth_authorize_path(:facebook), class: 'facebook-connect'
        .alt-hint.text-center
          Or
          = link_to "Sign up", new_user_registration_path, data: {target: "#modal-sign-up", toggle: :modal}, remote: true
          with your email address
    .swiper-slide.share
      .holder-slide-content
        .holder-icon.text-center
          %i.icon.icon-star-big
        %h1.text-center Share
        %h2.text-center
          %span
            all that your
            %strong discover
            with friends
            %br
            on social media
        .holder-border.text-center
          .border
        .holder-facebook-connect.text-center
          = link_to 'Connect with Facebook', user_omniauth_authorize_path(:facebook), class: 'facebook-connect'
        .alt-hint.text-center
          Or
          = link_to "Sign up", new_user_registration_path, data: {target: "#modal-sign-up", toggle: :modal}, remote: true
          with your email address


  .swiper-button-prev
    %i.icon.icon-arrow-slider-left
  .swiper-button-next
    %i.icon.icon-arrow-slider-right

