- unless user_signed_in?
  = content_for :slider do
    = render partial: 'welcome/slider'

- else
  .row
    .col-xs-12
      .music-charts
        = link_to "Latest Music", root_path(reload: true), remote: false,  class: "cdm-btn latest #{params[:top] ? '' : 'active'}"
        = link_to "Top Charts", root_path(reload: true, top: true), remote: false, class: "cdm-btn top #{params[:top] ? 'active' : ''}"
      - if params[:top]
        .holder-sort-by
          = link_to '#', class: 'sort-menu' do
            Sort By
            %span.arrow-down

          %ul.options
            %li= link_to 'Today', root_path(params.slice(:top).merge({sort: :today})), class: (params[:sort] == 'today' ? 'active' : nil)
            %li= link_to 'Last Week', root_path(params.slice(:top).merge({sort: :last_week})), class: ((params[:sort] == 'last_week' or params[:sort].blank?) ? 'active' : nil)
            %li= link_to 'Last Month', root_path(params.slice(:top).merge({sort: :last_month})), class: (params[:sort] == 'last_month' ? 'active' : nil)
            %li= link_to 'Last Year', root_path(params.slice(:top).merge({sort: :last_year})), class: (params[:sort] == 'last_year' ? 'active' : nil)
            %li= link_to 'Lifetime', root_path(params.slice(:top).merge({sort: :lifetime})), class: (params[:sort] == 'lifetime' ? 'active' : nil)

  .infinite-songs
    .row.m-t-20
      .holder-songs
        - @songs.each_with_index do |song, index|
          = render partial: 'welcome/song_item', locals: {song: song, index: index}

    .row.m-t-20
      .pagination
        = link_to_next_page @songs, 'Next Page', remote: true, params: params.slice(:top, :sort, :category)
