- unless user_signed_in?
  = content_for :slider do
    = render partial: 'welcome/slider'

- else
  .row
    .col-xs-12
      .music-charts
        = link_to "Latest Music", "#", class: 'cdm-btn active'
        = link_to "Top Charts", "#", class: 'cdm-btn'
  .row.m-t-20
    .holder-songs
      - @songs.each do |song|
        = render partial: 'welcome/song_item', locals: {song: song}


