.holder-upload-form
  = simple_form_for(song, remote: true) do |f|
    %h2 Publish your track to CDM

    = f.error_notification

    - if song.errors[:provider_id].present?
      .provider-error
        = song.errors[:provider_id].join
        = surround '(', ')' do
          = link_to 'view', song_path(song.original_song)

    .form-inputs
      %span.hint
        %i *
        Enter the link of your track from Youtube or Soundcloud
      = f.input :url, placeholder: 'http://yourlink', label: false

      %span.hint
        %i *
        Select category genre

      .input.select.required.song_category
        = f.select :category_id, grouped_options_for_select(Category.group_parents, song.category_id), include_blank: 'Select category genre'

    .form-actions.text-right
      = f.button :submit, "Submit"
