- meta song_meta(@song)

.holder-share
  %h2 Share

  .holder-image
    = image_tag @song.image.list

  .title.m-t-30
    - 3.times do
      = @song.title

  .holder-share-buttons.m-t-30
    = link_to "javascript: void(0)", class: 'share-facebook', onclick: "window.open('#{fb_share_link(song_url(@song))}','sharer','toolbar=0,status=0,width=548,height=325');" do
      %i
      Share On Facebook

    = link_to '#', class: 'share-twitter', onclick: "window.open('#{tw_share_link(song_url(@song))}','sharer','toolbar=0,status=0,width=548,height=325');" do
      %i
      Share on Twitter


  %form
    .form-inputs
      %span.hint Share Links
      %input{name: :url, type: :url, value: song_url(@song)}/


  .text-right.m-t-30
    = link_to 'Done', '#', class: 'btn-done', "data-dismiss" => "modal"
