.container.container-categories
  .container.holder-categories-filter
    .row
      .col-xs-4.col-sm-2.extra-menu.hidden-sm.hidden-md.hidden-lg
        = render partial: 'application/extra_menu'
      - Category.parents.except(:other).keys.each do |parent|
        .col-xs-4.col-sm-2.categories-menu
          .title
            - if parent == "cdm"
              = parent.humanize.upcase
            - else
              = parent.humanize
          %ul.clearfix.categories
            - Category.send(parent).order('name asc').each do |cat|
              %li
                .holder
                  = link_to cat.name, explore_category_path(cat, params.slice(:top, :sort)), class: (params[:category] == cat.slug ? 'active' : '')
                  - if params[:category] == cat.slug
                    = link_to 'x', explore_path(params.slice(:top, :sort)), class: 'remove'

      .col-xs-8.col-sm-4.categories-menu
        .title Other
        %ul.clearfix.categories.categories-other
          - Category.other.order('name asc').each do |cat|
            %li
              .holder
                = link_to cat.name, explore_category_path(cat, params.slice(:top, :sort)), class: (params[:category] == cat.slug ? 'active' : '')
                - if params[:category] == cat.slug
                  = link_to 'x', explore_path(params.slice(:top, :sort)), class: 'remove'

      .col-xs-4.col-sm-2.extra-menu.hidden-xs
        = render partial: 'application/extra_menu'
