!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %title CDM Website
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    = csrf_meta_tags
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body{class: body_class}
    .wrapper
      %nav.navbar.navbar-default.navbar-fixed-top#header
        .container.main-container
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to root_path, class: 'navbar-brand' do
              %i.logo

            = link_to '#', class: 'categories-menu' do
              %span.border
              %span.border
              %span.border
              %span.arrow-down


          .holder-title.text-center
            .title
              %i.icon.icon-arrow-trend
              - if content_for :header_title
                = yield :header_title
              - else
                Most Popular

          #navbar.collapse.navbar-collapse
            %ul.nav.navbar-nav
              - if user_signed_in?
                %li.upload= link_to "Upload", new_song_path, remote: true
              - elsif !user_signed_in? and !devise_controller?
                %li= link_to "Sign Up", new_user_registration_path, data: {target: "#modal-sign-up", toggle: :modal}, remote: true
                %li= link_to "Login", new_user_session_path, data: {target: "#modal-sign-in", toggle: :modal}, remote: true
              - else
                %li= link_to "Sign Up", new_user_registration_path
                %li= link_to "Login", new_user_session_path
            - if user_signed_in?
              .user-info
                %span.avatar= image_tag current_user.avatar.thumb
                = link_to current_user.first_name, user_path(current_user)
                - if false
                  %ul
                    %li= link_to "Logout", destroy_user_session_path

      -# %p.notice= notice
      -# %p.alert= alert
      = yield :slider

      - if user_signed_in? or devise_controller?
        .container.container-categories
          .container.holder-categories-filter
            .row
              .col-xs-10.categories-menu
                %ul.clearfix.categories
                  - Category.all.in_groups_of(6, false).each do |cats|
                    %li
                      - cats.each do |cat|
                        .holder
                          = link_to cat.name, root_path(params.slice(:top, :sort), category: cat.id), class: (params[:category] == cat.id.to_s ? 'active' : '')
                          - if params[:category] == cat.id.to_s
                            = link_to 'x', root_path(params.slice(:top, :sort)), class: 'remove'


              .col-lg-2.extra-menu
                %ul
                  %li
                    = link_to '#', class: 'about' do
                      %i.icon.icon-logo-small
                      About
                  %li
                    = link_to '#', class: 'blog' do
                      %i.icon.icon-blog
                      Blog
                  %li
                    = link_to '#', class: 'facebook' do
                      %i.icon.icon-facebook-small
                      Facebook
                  %li
                    = link_to '#', class: 'instagram' do
                      %i.icon.icon-instagram-small
                      Instagram
                  %li
                    = link_to '#', class: 'soundcloud' do
                      %i.icon.icon-soundcloud-small
                      Soundcloud
                  - if user_signed_in?
                    %li= link_to "Logout", destroy_user_session_path

        #player
        #content
          .container
            = yield

      .push
    %footer#footer
      .container
        .row
          .col-xs-6
            .links
              = link_to root_path, class: 'logo-link'  do
                %i.logo
              = link_to 'About', '#'
              = link_to 'Blog', '#'
              @2015 CDM
          .col-xs-6
            .socials
              = link_to '#' do
                %i.icon.icon-facebook-white
              = link_to '#' do
                %i.icon.icon-twitter-white
              = link_to '#' do
                %i.icon.icon-instagram-white

    - unless user_signed_in?
      = render partial: 'application/modal_sign_up'
      = render partial: 'application/modal_sign_in'
    - else
      = render partial: 'application/modal_upload'

    #fb-root

    = javascript_include_tag 'application', 'data-turbolinks-track' => false

